:root {
    --color-main: #3e1e68;
    --Color-sec: #5d2f77;
    --color-third: #e45a92;
    --color-four: #ffacac;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.main {
    min-width: max-content;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: var(--color-four);
    color: var(--color-main);
}
.calc {
    display: grid;
    grid-template-columns: minmax(200px, min-content);
    grid-template-rows: minmax(250px, auto) min-content;
    gap: 8px;
    background-color: var(--color-main);
    font-size: 2rem;
    border-radius: 8px;
    border: 1rem solid transparent;
    margin: 2rem;
}

.display {
    display: grid;
    grid-template-columns: minmax(auto, 400px);
    grid-template-rows: 1fr 1fr 2fr;
}

.display :first-child {
    border-radius: 8px 8px 0 0;
}

.display :last-child {
    border-radius: 0 0 8px 8px;
}

.display > * {
    display: flex;
    word-break: break-all;
    align-items: center;
    justify-content: end;
    font-size: 3rem;
    background-color: var(--color-four);
}

.digits-pad {
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, max-content));
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    justify-items: center;
    align-self: center;
}

#clear {
    grid-column: span 2;
    width: 160px;
    border-radius: 8px;
}

.digits-pad > * {
    background-color: var(--color-third);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    font-size: 1.5rem;
    display: inline-block;
    border: 0px;
}

.operations {
    background-color: var(--Color-sec);
}
.digits-pad > *:hover {
    background-color: var(--Color-sec);
}
.digits-pad > *:active {
    background-color: var(--color-four);
}

.operations:hover {
    background-color: var(--color-third);
}

#equals {
    background-color: var(--Color-sec);
    color: var(--color-third);
}
#equals:hover {
    background-color: var(--color-four);
    color: #141316;
}

#equals:active {
    background-color: var(--color-main);
}

#input {
    text-overflow: ellipsis;
    font-size: 4rem;
}
#ans,
#pending {
    font-size: 2rem;
    color: var(--Color-sec);
}

.disclaimer {
    display: flex;
    align-items: center;
    justify-self: center;
}
a:link {
    color: var(--color-main);
}
